html {
  --maxWidth: 1284px;
  scrollbar-color: #666 #201c29;
  background: #100e17;
  color: #fff;
  overflow-x: hidden;
  font-size: 1.1rem;
  font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff8a00, #e52e71);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17);
}

html::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}
